*,
*::after *::before {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header,
main,
footer {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}
h1, h2, h3, h4, h4, h6 { letter-spacing: 1px }


/* Reusable styles*/
.container {
  width: 75%;
}

.center {
  margin: auto;
}

.mt-5 {
  margin-top: 10rem;
}

.top-bottom-margin {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.title-style {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border-left: 7px solid #e1e6ea;
  padding-left: 10px;
}

:root {
  --greeny: green;
}

/****** Header styles *******/
.header_nav {
  background-color: #1d2126;
}
.header_nav a {
  color: white;
}
.header_nav__wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 100%;
  align-items: center;
}


.header_nav .header_nav__wrapper nav ul li {
  display: inline-block;
  margin-left: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.header_nav .header_nav__wrapper nav ul li a {
  text-decoration: none;
  color: #a4aead;
  display: block;
}

.header_nav .header_nav__wrapper nav ul li:first-child {
  border: 1px solid #23b7a4;
}

.header_nav .header_nav__wrapper nav ul li:hover {
  border: 1px solid #a4aead;
}

.header_nav .header_nav__wrapper .icon {
  display: none;
  text-decoration: none;
  color: white;
}

.header_slider__slider {
  height: 93vh;
}

.header_slider__slider .image {
  width: 100%;

}

.header_slider__slider .image img {
  height: 93vh;
  object-fit: cover;
  width: 100%;
  display: block;
}

.header__slider {
  position: relative;
}

.slider_text_btns {
  position: absolute;
  z-index: 1;
  color: white;
  top: 40%;
  left: 13%;
  width: 50%;
  padding: 0 1rem 1rem 1rem;
  background-color: #4e5a62c9;
}

.slider_text_btns h1 {
  text-transform: uppercase;
}



.slider_text_btns button {
  display: inline-block;
  margin-top: 3rem;
  padding: 1.3rem 2rem;
  font-size: 1.2rem;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 1rem;
  color: white;
  border-radius: .5rem;
}

.slider_text_btns button:hover {
  background-color: #23b7a4;
}

/****** Modest section styles *******/

.modest_text {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 2rem;
  margin-top: 3rem;
}

.modest_text p {
  font-size: 1.3rem;
  color: #8d8f92;
  line-height: 1.5;
}

.modest_text p:first-child {
  margin-bottom: 3rem;
}

.number_text {
  display: flex;
}

.number_text:first-child {
  margin-top: 1.5rem;
}

.number_text>span {
  height: 1.8rem;
  background-color: #23b7a4;
  padding: 1.2rem;
  color: white;
  margin-right: 1.5rem;
  font-size: 1.3rem;
}

.number_text__right {
  margin-bottom: 2rem;
  transform: translateY(-5px);
}

.number_text__right p {
  margin: 0.5rem 0 0 0;
}

.number_text__right>h5 {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  margin-top: .4rem;
}

.plain_text__icons {
  margin-top: 3rem;
}

.plain_text__icons ul {
  padding: 0;
}

.plain_text__icons ul li {
  display: inline-block;
  background-color: #c8cdd0;
  padding: 1.5rem;
  cursor: pointer;
}

.plain_text__icons ul li:first-child {
  padding: 1.5rem 1.8rem;
}

.plain_text__icons ul li:hover {
  background-color: #d0d5d9;
}

.plain_text__icons ul li a .fab {
  color: white;
  font-size: 1.4rem;
}

/****** Team section styles *******/
.team {
  border-top: 1px solid #dde1e4;
}

.team_pics {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
}

.team_pics .team_pics_pic img {
  width: 100%;
  height: 27rem;
  object-fit: cover;
  background-color: transparent;
  display: block;
  opacity: 1;
  transition: .3s ease-in-out;
}

.team_pics .team_pics_pic:hover img {
  opacity: 0.4; 
}

.team_pics .team_pics_pic:hover .pic_icons {
  opacity: 1;
}


.team_pics_pic {
  position: relative;
  cursor: pointer;
}

.pic_icons {
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 40%;
  font-size: 1.4rem;
  transform: translate(-50%, -50%);
  transition: .5s ease;
}

.pic_icons ul {
  display: flex;
}

.pic_icons ul li {
  margin: .1rem;
}

.pic_icons a i {
  color: white;
  background-color: #3a454d;
  padding: 1.2rem;
}

.team_pics .team_pics_pic .pic__pos_title {
  background-color: #e1e6ea;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: #4e545a;
}

.team_pics .team_pics_pic .pic__pos_title span {
  display: block;
}

.team_pics .team_pics_pic .pic__pos_title span:first-child {
  font-weight: 600;
}

/****** Work section styles *******/
.work {
  background-color: #3a454d;
  color: white;
  padding: 0.1rem 0;
}

.work .work__wrapper .title-style {
  border-left: 7px solid #4e5a62;
}

.work_pics {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.work_pics .work_pics__pic {
  position: relative;
  cursor: pointer;
  height: 20rem;
}

.work_pics .work_pics__pic img {
  height: 20rem;
  width: 100%;
  object-fit: cover;

}

.work_pics .work_pics__pic .pic__text_wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background-color: #373738b0;
  opacity: 0;
  transition: .3s ease-in;
}

.work_pics .work_pics__pic:hover .pic__text_wrapper {
  opacity: 1;
}

.work_pics .work_pics__pic .pic__text_wrapper span {
  text-transform: uppercase;
  font-size: 1.3rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.work_pics .work_pics__pic .pic__text_wrapper i {
  position: absolute;
  top: 45%;
  left: 48%;
}

.work__wrapper .work_btn {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.work__wrapper .work_btn button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  cursor: pointer;
}

.work__wrapper .work_btn button:hover {
  color: rgb(202, 199, 199);
}

/******* We do Section *********/
.we_do__grid {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 5rem;
}

.we_do__grid .grid__items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.we_do__grid .grid__items .fas,
.far {
  font-size: 3rem;
  color: #23b7a4;
}

.we_do__grid .grid__items h3 {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.we_do__grid .grid__items p {
  font-size: 1.3rem;
  color: #919394;
}

/******* Features Section *********/
.features {
  background-color: #3a454d;
  color: white;
  padding: 0.1rem 0;
}

.features .features__wrapper .title-style {
  border-left: 7px solid #4e5a62;
}

.features_grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}

.features_grid .features_grid__item img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.features_grid .features_grid__item h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.features_grid .features_grid__item p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}

/******* In touch Section *********/
.in_touch {
  position: relative;
}

.in_touch__map  {
  height: 25rem;
  width: 100%;
}
.in_touch__map iframe {
  height: 100%;
  width: 100%;
} 
.in_touch__wrapper {
  margin: 5rem auto;
}

.in_touch_span_wrapper {
  margin: 8rem auto 5rem auto;
}

.in_touch__wrapper .in_touch__contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.in_touch__wrapper .in_touch__contact_form .contact_form__text h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: #464b51;
}

.in_touch__wrapper .in_touch__contact_form .contact_form__text p {
  font-size: 1.3rem;
  color: #919394;
  margin-top: 2.3rem;
}

.contact_form__form form label,
button {
  display: block;
}

.contact_form__form label {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #abadaf;
}

.contact_form__form .form__label_input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  margin-bottom: 3rem;
}

.contact_form__form .form__label_input input {
  padding: 1rem;
  border: none;
  outline: none;
  background-color: #eaeef1;
}



.contact_form__form {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  top: 20rem;
  right: 15rem;
}

.contact_form__form form>textarea {
  background-color: #eaeef1;
  width: 95%;
  border: none;
  resize: none;
  outline: none;
  padding: 1rem;
}

.contact_form__form form>button {
  color: white;
  margin-top: 2rem;
  background-color: #23b7a4;
  padding: 1.3rem 1.8rem;
  border-radius: 0.5rem;
  border: 0;
  text-transform: uppercase;
  font-size: 1.1rem;
  cursor: pointer;
}


/**************** Footer styles ***************/
footer {
  margin-top: 5rem;
  background-color: #3a454d;
  height: 6rem;
}

footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

footer .footer_wrapper .footer_copyright p {
  font-size: 1.3rem;
  color: white;
  letter-spacing: 0.5px;
}

footer .footer_icons ul li {
  display: inline;
}

footer .footer_icons ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

footer .footer_icons ul li:not(:last-child) {
  margin-right: 1.5rem;
}

/* Animations */